* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__logotype {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.app__logotype h1 {
  margin-left: 10px;
}

.app__logo {
  width: 100px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__dropdown {
  background-color: #fff;
  transition: 0.2s !important;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  @media (max-width: 590px) {
    .app__stats {
      flex-direction: column;
    }

    .infoBox {
      margin-bottom: 10px;
    }

    .infoBox:not(:last-child) {
      margin-right: 0px;
    }

    .app__logotype h1 {
      font-size: 18px;
    }

    .app__logo {
      width: 40px;
    }
  }
}
